<div class="container">

    <% @opportunities.each do |opportunity|  %>
        <%= link_to company_opportunities_path(opportunity) do %>
            <p><%= opportunity.number %></p>
        <% end %>    
    <% end %>

    <%= link_to 'Add Opportunity', new_company_opportunity_path(@company), class: "btn btn-blue mb-3"%>
</div>